.albumImages {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.albumImages > img {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.active {
  border: 2px solid whitesmoke;
  z-index: 1;
  transform: scale(1.25);
  transition: all 300ms;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.imageSlider {
  position: relative;
  width: 100%;
  height: auto;
}

.mainImg {
  transition: all 500ms;
  width: 100%;
  height: auto;
}

.actions {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 66.9%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background: var(--dark-text-color);
  opacity: 4%;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 15%;
  transition: ease-in-out 300ms;
}

.actions > .forward {
  border-radius: 30px 10px 10px 30px;
}

.actions > .back {
  border-radius: 10px 30px 30px 10px;
}

.actions button:hover {
  opacity: 20%;
  color: var(--dark-text-color);
}
