@import url("https://fonts.googleapis.com/css?family=Overpass");
@import url("//fonts.googleapis.com/css?family=Fanwood+Text");

:root {
  --light-text-color: #fdfdfd;
  --dark-text-color: #1a1a1b;
  --light-background-color: #65ccb8;
  --dark-background-color: #1a1a1b;
  --semi-light-background-color: #57ba98;
  --semi-dark-background-color: #3b9454;
  --textarea-outline: #8bcbd8b9;
  --box-shadow: #999999;
}

.default {
  background: repeat scroll 0 0 #f8f7f7;
  font-family: system-ui, serif;
  color: var(--dark-text-color);
  min-width: 400px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default * {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}
