.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
}


.uncompletedBoard, .completedBoard {
    background-color: var(--semi-dark-background-color);
    border-radius: 5px;
    height: max-content;
}

.todo {
    background-color: var(--semi-light-background-color);
    color: var(--dark-text-color);
    margin: 5px;
    height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 1.12rem;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.todo > button {
    width: 30px;
    height: 30px;
    font-size: 1.15rem;
    border: 2px solid var(--dark-text-color);
    border-radius: 4px;
    transition: ease-in-out 250ms;
    background-color: var(--semi-light-background-color);
    color: var(--dark-text-color);
}

.uncompleted {
    background-color: var(--semi-light-background-color);
    color: var(--dark-text-color);
}

.todo > .uncompleted:hover {
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
}